:root {
    //spacers
    --spacer-mini: 5px;
    --spacer-main: 20px;

    //colors
    --text-color: #2c3e50;
    --border-color: #1e2833;

    //size
    --ui-height: 40px;
    --container-width: 500px;
}